}

a {
  color: #187054;
}
a:hover, a:focus {
  color: #26af83;
}

.intro-svg {
  margin: 0;
  padding: 0;
}
.intro-svg > .fsElementContent {
  position: relative;
  padding: 7.5% 0 0 0;
  margin: 0;
  width: 100%;
  height: auto;
}

.intro-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  margin: 0;
  padding: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}
.intro-container > .fsElementContent {
  font-family: "EB Garamond", serif;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #187054;
  text-transform: uppercase;
}
@media (min-width: 1000px) {
  .intro-container {
    font-size: 36px;
    letter-spacing: 3px;
    line-height: 50px;
  }
}

.svg-container {
  margin: 0 auto 60px auto;
  padding: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  visibility: hidden;
}
.svg-container > header,
.svg-container > footer {
  display: none;
}
.svg-container > .fsElementContent {
  position: relative;
  width: 100%;
  height: auto;
  background: #fff;
}
.svg-container.mobile {
  display: block;
}
@media (min-width: 1000px) {
  .svg-container.mobile {
    display: none;
  }
}
.svg-container.mobile > .fsElementContent {
  max-width: 1000px;
  height: 95.7%;
  height: calc((957 / 1000) * 100vw);
  max-height: 957px;
}

.svg-container.mobile svg#svg-01 {
  top: 0;
  left: 0;
  width: 95px;
  height: 957px;
  width: calc((95 / 1000) * 100%);
  height: calc((957 / 1000) * 100vw);
}

.svg-container.mobile svg#svg-02 {
  top: 0;
  left: 164px;
  width: 473.7px;
  height: 452.3px;
  left: calc((164 / 1000) * 100%);
  width: calc((473.7 / 1000) * 100%);
  height: calc((452.3 / 1000) * 100vw);
  max-height: 452.3px;
}

.svg-container.mobile svg#svg-03 {
  top: 52.2px;
  left: 583.6px;
  width: 144.2px;
  height: 205.8px;
  top: calc((52.2 / 1000) * 100vw);
  left: calc((583.6 / 1000) * 100%);
  width: calc((144.2 / 1000) * 100%);
  height: calc((205.8 / 1000) * 100vw);
  max-height: 205.8px;
}

.svg-container.mobile svg#svg-04 {
  top: 286.8px;
  left: 539.5px;
  width: 244.4px;
  height: 164.9px;
  top: calc((286.8 / 1000) * 100vw);
  left: calc((539.5 / 1000) * 100%);
  width: calc((244.4 / 1000) * 100%);
  height: calc((164.9 / 1000) * 100vw);
  max-height: 164.9px;
}

.svg-container.mobile svg#svg-05 {
  top: 0;
  left: 701.8px;
  width: 298.7px;
  height: 451.7px;
  left: calc((701.8 / 1000) * 100%);
  width: calc((298.7 / 1000) * 100%);
  height: calc((451.7 / 1000) * 100vw);
  max-height: 451.7px;
}

.svg-container.mobile svg#svg-06 {
  top: 508.7px;
  left: 163.1px;
  width: 156.8px;
  height: 212.8px;
  top: calc((508.7 / 1000) * 100vw);
  left: calc((163.1 / 1000) * 100%);
  width: calc((156.8 / 1000) * 100%);
  height: calc((212.8 / 1000) * 100vw);
  max-height: 212.8px;
}

.svg-container.mobile svg#svg-07 {
  top: 744px;
  left: 163.1px;
  width: 208.6px;
  height: 212.5px;
  top: calc((744 / 1000) * 100vw);
  left: calc((163.1 / 1000) * 100%);
  width: calc((208.6 / 1000) * 100%);
  height: calc((212.5 / 1000) * 100vw);
  max-height: 212.5px;
}

.svg-container.mobile svg#svg-08 {
  top: 504.8px;
  left: 293.3px;
  width: 254.8px;
  height: 451.7px;
  top: calc((504.8 / 1000) * 100vw);
  left: calc((293.3 / 1000) * 100%);
  width: calc((254.8 / 1000) * 100%);
  height: calc((451.7 / 1000) * 100vw);
  max-height: 451.7px;
}

.svg-container.mobile svg#svg-09 {
  top: 504.8px;
  left: 616.9px;
  width: 192.2px;
  height: 230px;
  top: calc((504.8 / 1000) * 100vw);
  left: calc((616.9 / 1000) * 100%);
  width: calc((192.2 / 1000) * 100%);
  height: calc((230 / 1000) * 100vw);
  max-height: 230px;
}

.svg-container.mobile svg#svg-10 {
  top: 743.3px;
  left: 616.9px;
  width: 205px;
  height: 213.2px;
  top: calc((743.3 / 1000) * 100vw);
  left: calc((616.9 / 1000) * 100%);
  width: calc((205 / 1000) * 100%);
  height: calc((213.2 / 1000) * 100vw);
  max-height: 213.2px;
}

.svg-container.mobile svg#svg-11 {
  top: 504.8px;
  left: 683.4px;
  width: 316.7px;
  height: 451.7px;
  top: calc((504.8 / 1000) * 100vw);
  left: calc((683.4 / 1000) * 100%);
  width: calc((316.7 / 1000) * 100%);
  height: calc((451.7 / 1000) * 100vw);
  max-height: 451.7px;
}

.svg-container.mobile text {
  display: none;
}

.svg-container.desktop {
  display: none;
}

@media (min-width: 1000px) {
  .svg-container.desktop {
    display: block;
  }
}
.svg-container.desktop > .fsElementContent {
  max-width: 1180px;
  height: 20.5%;
  height: calc((242 / 1180) * 100vw);
  max-height: 242px;
}

.svg-container.desktop svg#svg-01 {
  top: 0;
  left: 0;
  width: 125.91px;
  height: 239.85px;
  width: calc((125.91 / 1180) * 100%);
  height: calc((239.85 / 1180) * 100vw);
  max-height: 239.85px;
}

.svg-container.desktop svg#svg-02 {
  top: 0;
  left: 162px;
  width: 233.38px;
  height: 241.25px;
  left: calc((162 / 1180) * 100%);
  width: calc((233.38 / 1180) * 100%);
  height: calc((241.25 / 1180) * 100vw);
  max-height: 241.25px;
}

.svg-container.desktop svg#svg-03 {
  top: 27.88px;
  left: 367.08px;
  width: 75.92px;
  height: 109.91px;
  top: calc((27.88 / 1180) * 100vw);
  left: calc((367.08 / 1180) * 100%);
  width: calc((75.92 / 1180) * 100%);
  height: calc((109.91 / 1180) * 100vw);
  max-height: 109.91px;
}

.svg-container.desktop svg#svg-04 {
  bottom: 0;
  left: 343px;
  width: 128.37px;
  height: 88.25px;
  left: calc((343 / 1180) * 100%);
  width: calc((128.37 / 1180) * 100%);
  height: calc((88.25 / 1180) * 100vw);
  max-height: 88.25px;
}

.svg-container.desktop svg#svg-05 {
  top: 0;
  left: 430px;
  width: 181.46px;
  height: 241.26px;
  left: calc((430 / 1180) * 100%);
  width: calc((181.46 / 1180) * 100%);
  height: calc((241.26 / 1180) * 100vw);
  max-height: 241.26px;
}

.svg-container.desktop svg#svg-06 {
  top: 0;
  left: 646.88px;
  width: 82.59px;
  height: 113.5px;
  left: calc((646.88 / 1180) * 100%);
  width: calc((82.59 / 1180) * 100%);
  height: calc((113.5 / 1180) * 100vw);
  max-height: 113.5px;
}

.svg-container.desktop svg#svg-07 {
  bottom: 0;
  left: 646.88px;
  width: 109.85px;
  height: 113.5px;
  left: calc((646.88 / 1180) * 100%);
  width: calc((109.85 / 1180) * 100%);
  height: calc((113.5 / 1180) * 100vw);
  max-height: 113.5px;
}

.svg-container.desktop svg#svg-08 {
  top: 0;
  left: 716px;
  width: 186.6px;
  height: 241.25px;
  left: calc((716 / 1180) * 100%);
  width: calc((186.6 / 1180) * 100%);
  height: calc((241.25 / 1180) * 100vw);
  max-height: 241.25px;
}

.svg-container.desktop svg#svg-09 {
  top: 0;
  left: 938.13px;
  width: 101.59px;
  height: 122.84px;
  left: calc((938.13 / 1180) * 100%);
  width: calc((101.59 / 1180) * 100%);
  height: calc((122.84 / 1180) * 100vw);
  max-height: 122.84px;
}

.svg-container.desktop svg#svg-10 {
  bottom: 0;
  left: 938.13px;
  width: 107.96px;
  height: 113.92px;
  left: calc((938.13 / 1180) * 100%);
  width: calc((107.96 / 1180) * 100%);
  height: calc((113.92 / 1180) * 100vw);
  max-height: 113.925px;
  z-index: 500;
}

.svg-container.desktop svg#svg-11 {
  top: 0;
  left: 974px;
  width: 204.77px;
  height: 241.37px;
  left: calc((974 / 1180) * 100%);
  width: calc((204.77 / 1180) * 100%);
  height: calc((241.37 / 1180) * 100vw);
  max-height: 241.37px;
  z-index: 499;
}

.svg-container svg {
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.svg-container svg.hover text {
  fill: #deea00;
  fill: #747a00;
}

.svg-container svg.active text {
  fill: #145b44;
}

.svg-container svg.siblings a image {
  opacity: 0.25;
}

.svg-container svg a image {
  opacity: 1;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.svg-container svg text {
  position: relative;
  fill: #31b97f;
  fill: #217d55;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.svg-container svg path#path-01 {
  fill: #48bb88;
}

.svg-container svg path#path-06 {
  fill: #48bb88;
}

.svg-container svg path#path-07 {
  fill: #009c77;
}

.svg-container svg path#path-09 {
  fill: #009c77;
}

.svg-container svg polygon#path-03 {
  fill: #009c77;
}

.content-container {
  display: flex;
  flex-flow: column nowrap;
}
.content-container .fsContent {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: left;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transform: translate(0, 10%);
  transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
}
@media (min-width: 800px) {
  .content-container .fsContent {
    flex-flow: row nowrap;
  }
}
.content-container .fsContent > header {
  margin: 0;
  padding: 0;
  flex: 0 1 auto;
  width: 100%;
  height: auto;
  min-height: 320px;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: inherit;
}
@media (min-width: 800px) {
  .content-container .fsContent > header {
    width: 330px;
    min-height: auto;
  }
}
.content-container .fsContent > header .fsElementTitle {
  display: none;
}
.content-container .fsContent > .fsElementContent {
  margin: 0;
  padding: 30px;
  flex: 0 1 auto;
  width: 100%;
  background: #f3f5f5;
  color: #187054;
}
@media (min-width: 800px) {
  .content-container .fsContent > .fsElementContent {
    padding: 60px;
    width: calc(100% - 330px);
  }
}
.content-container .fsContent > .fsElementContent h2 {
  text-transform: uppercase;
}
.content-container .fsContent > .fsElementContent .button {
  display: inline-block;
  border: 0;
  margin: 0 0 20px;
  padding: 17px 30px 15px;
  background: #145b44;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 22px;
  border-radius: 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: inset 0 0 0 2px #145b44;
  cursor: pointer;
}
.content-container .fsContent > .fsElementContent .button:hover, .content-container .fsContent > .fsElementContent .button:focus {
  background: #187054;
  color: #fff;
  box-shadow: inset 0 0 0 2px #1d8564;
  transition: 0.3s;
}
